.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.containerLogos {
  position: relative;
}

.logo,
.logoN,
.logoW {
  width: 50px;
}

.logoN,
.logoW {
  position: absolute;
}

.logoN {
  opacity: 0;
  left: -40px;
  scale: 0.5;
  animation: animationN 6s 1s normal forwards;
}

@keyframes animationN {
  0% {
    opacity: 0;
    left: -40px;
    scale: 0.5;
  }

  30% {
    opacity: 100;
    left: 0px;
    scale: 0.5;
  }

  67% {
    opacity: 100;
    left: 0px;
    scale: 0.5;
  }

  81% {
    opacity: 100;
    left: 0px;
    scale: 1.2;
  }

  100% {
    opacity: 100;
    left: 0px;
    scale: 1;
  }
}

.logoW {
  opacity: 0;
  left: 40px;
  scale: 0.5;
  animation: animationW 4s 3s normal forwards;
}

@keyframes animationW {
  0% {
    opacity: 0;
    left: 40px;
    scale: 0.5;
  }

  50% {
    opacity: 100;
    left: 0px;
    scale: 0.5;
  }

  75% {
    opacity: 100;
    left: 0px;
    scale: 1.2;
  }

  100% {
    opacity: 100;
    left: 0px;
    scale: 1;
  }
}




.btn:hover {
  color: white !important;
}

.btn:active {
  color: white !important;
}

.btn-primary {
  color: white !important;
}